composer.phar
composer.lock
var/
vendor/
coverage.clover
tests/coverage
.php-cs-fixer.cache
.phpbench
!tests/coverage/html/.gitkeep

# IntelliJ IDEA
.idea
*.iml

# VS Code
.vscode

# OS X
.DS_Store

# W3C Test Service build artifacts
tests/TraceContext/W3CTestService/test_app
tests/TraceContext/W3CTestService/trace-context

# deptrac cache
/.deptrac.cache
/examples/distributed-tracing/src/nbproject/private/
