composer.phar
composer.lock
var
Jaeger/Thrift/*
vendor
.idea/
coverage.clover
tests/coverage
.php_cs.cache

# W3C Test Service build artifacts
tests/TraceContext/W3CTestService/test_app
tests/TraceContext/W3CTestService/trace-context
