version: '3.7'
services:
  prometheus:
    image: prom/prometheus@sha256:49214755b6153f90a597adcbff0252cc61069f8ab69ce8411285cd4a560e8038
    ports:
      - 9090:9090
    volumes:
      - ./docker/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
  redis:
    image: redis@sha256:5c7c0445ed86918cb9efb96d95a6bfc03ed2059fe2c5f02b4d74f477ffe47915
    ports:
        - 6379:6379
  web:
    image: nginx:alpine@sha256:b3c656d55d7ad751196f21b7fd2e8d4da9cb430e32f646adcf92441b72f82b14
    ports:
      - 8080:80
    depends_on:
      - php
    volumes:
      - ./docker/examples/nginx.conf:/etc/nginx/conf.d/default.conf:ro
  php:
    build:
      context: .
      dockerfile: docker/examples/Dockerfile
      args:
        - PHP_VERSION=8.0-fpm
        - EXT_ENABLE=redis
    volumes:
      - ./examples/prometheus/index.php:/var/www/public/index.php
      - ./:/php
    depends_on:
      - redis
      - prometheus
