version: '3.7'
services:
  prometheus:
    image: prom/prometheus@sha256:1f0f50f06acaceb0f5670d2c8a658a599affe7b0d8e78b898c1035653849a702
    ports:
      - 9090:9090
    volumes:
      - ./docker/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
  redis:
    image: redis@sha256:7b6fb55d8b0adcd77269dc52b3cfffe5f59ca5d43dec3c90dbe18aacce7942e1
    ports:
        - 6379:6379
  web:
    image: nginx:alpine@sha256:b3c656d55d7ad751196f21b7fd2e8d4da9cb430e32f646adcf92441b72f82b14
    ports:
      - 8080:80
    depends_on:
      - php
    volumes:
      - ./docker/examples/nginx.conf:/etc/nginx/conf.d/default.conf:ro
  php:
    build:
      context: .
      dockerfile: docker/examples/Dockerfile
      args:
        - PHP_VERSION=8.0-fpm
        - EXT_ENABLE=redis
    volumes:
      - ./examples/prometheus/index.php:/var/www/public/index.php
      - ./:/php
    depends_on:
      - redis
      - prometheus
