{
    "source": {
        "directories": [
            "api",
            "Context",
            "contrib",
            "sdk"
        ]
    },
    "logs": {
        "text": "var/infection.log"
    },
    "mutators": {
        "@default": true
    }
}
