includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    tmpDir: var/cache/phpstan
    level: 5
    paths:
        - ./src
        - ./tests
        # - ./examples TODO: Uncomment this once examples are updated
    excludePaths:
        - tests/TraceContext/W3CTestService
        - tests/Unit/Config/SDK/Configuration/ExampleSdk
    ignoreErrors:
        -
            message: "#Call to an undefined method .*#"
            paths:
                - tests/Unit/SDK/Common/Configuration/Resolver/PhpIniResolverTest.php
                - tests/Unit/SDK/Common/Configuration/Resolver/CompositeResolverTest.php
        -
            message: "#Call to an undefined method .*:allows.*#"
            paths:
                - tests
        -
            message: "#Call to an undefined method .*:shouldReceive.*#"
            paths:
                - tests
        -
            message: "#Call to an undefined method .*:shouldHaveReceived.*#"
            paths:
                - tests
        -
            message: "#Call to an undefined method .*:expects.*#"
            paths:
                - tests
        -
            message: "#Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeParentInterface::.*#"
            paths:
                - src/Config/SDK
        -
            message: "#Cannot call method .* on null#"
            paths:
                - tests/Integration/SDK/Trace
