includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    tmpDir: var/cache/phpstan
    level: 5
    paths:
        - ./src
        - ./tests
        # - ./examples TODO: Uncomment this once examples are updated
    excludes_analyse:
        - tests/TraceContext/W3CTestService
