<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
     backupStaticAttributes="false"
     colors="false"
     cacheResult="false"
     convertErrorsToExceptions="true"
     convertNoticesToExceptions="true"
     convertWarningsToExceptions="true"
     stopOnFailure="false"
     verbose="true"
     bootstrap="./vendor/autoload.php"
>
    <php>
        <ini name="date.timezone" value="UTC" />
        <ini name="display_errors" value="On" />
        <ini name="display_startup_errors" value="On" />
        <ini name="error_reporting" value="E_ALL" />
    </php>

    <testsuites>
        <testsuite name="SDK">
            <directory>./sdk/tests</directory>
        </testsuite>
        <testsuite name="Unit Tests">
            <directory>./tests/unit</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory>./tests/integration</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>sdk</directory>
            <exclude>
                <directory>sdk/Tests</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="coverage.clover"/>
    </logging>
</phpunit>
