<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="./tests/bootstrap.php"
    cacheResult="false"
    colors="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    forceCoversAnnotation="false"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    stopOnRisky="false"
    timeoutForSmallTests="1"
    timeoutForMediumTests="10"
    timeoutForLargeTests="60"
    verbose="true">

    <coverage processUncoveredFiles="true">
        <include>
            <directory>src</directory>
        </include>
    </coverage>

    <php>
        <ini name="date.timezone" value="UTC" />
        <ini name="display_errors" value="On" />
        <ini name="display_startup_errors" value="On" />
        <ini name="error_reporting" value="E_ALL" />
        <ini name="assert.active" value="True" />
        <ini name="assert.exception" value="True" />
    </php>

    <testsuites>
        <testsuite name="API Unit Tests">
            <directory>./tests/API/Unit</directory>
        </testsuite>
        <testsuite name="SDK Unit Tests">
            <directory>./tests/SDK/Unit</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory>./tests/SDK/Integration</directory>
        </testsuite>
        <testsuite name="Contrib Unit Tests">
            <directory>./tests/Contrib/Unit</directory>
        </testsuite>
        <testsuite name="Context Unit Tests">
            <directory>./tests/Context/Unit</directory>
        </testsuite>
        <testsuite name="Context Fiber Tests">
            <directory phpVersion="8.1.0RC" suffix=".phpt">./tests/Context/Fiber</directory>
        </testsuite>
    </testsuites>
</phpunit>
