<?xml version="1.0"?>
<psalm
    errorLevel="3"
    cacheDirectory="var/cache/psalm"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd">
    <projectFiles>
        <directory name="./src"/>
        <directory name="./tests"/>
        <!--<directory name="./examples"/> TODO: Uncomment this once examples are updated -->
        <ignoreFiles>
            <directory name="tests/TraceContext/W3CTestService"/>
            <!-- Only needed becaues CustomizedTHttpClient's subclassing of THttpClient from this dependency was causing psalm to flag errors in THttpClient-->
            <directory name="vendor/packaged/thrift" />
        </ignoreFiles>
    </projectFiles>
    <plugins>
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
        <pluginClass class="Psalm\MockeryPlugin\Plugin"/>
    </plugins>
</psalm>
