<?xml version="1.0"?>
<psalm
    errorLevel="3"
    cacheDirectory="var/cache/psalm"
    findUnusedBaselineEntry="false"
    findUnusedCode="false"
    findUnusedIssueHandlerSuppression="false"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd">
    <projectFiles>
        <directory name="./src"/>
        <directory name="./tests"/>
        <directory name="./examples"/>
        <ignoreFiles>
            <directory name="./examples/traces/demo/"/>
            <directory name="tests/Unit/Config/SDK/Configuration/ExampleSdk"/>
            <directory name="tests/TraceContext/W3CTestService"/>
            <directory name="vendor"/>
        </ignoreFiles>
    </projectFiles>
    <plugins>
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
        <pluginClass class="Psalm\MockeryPlugin\Plugin"/>
    </plugins>
    <issueHandlers>
        <UndefinedClass>
            <errorLevel type="suppress">
                <referencedClass name="GMP"/>
            </errorLevel>
        </UndefinedClass>
        <UndefinedMethod>
            <errorLevel type="suppress">
                <referencedMethod name="Google\Protobuf\Internal\RepeatedField::offsetGet"/>
                <referencedMethod name="Google\Protobuf\Internal\RepeatedField::offsetSet"/>
            </errorLevel>
        </UndefinedMethod>
        <ArgumentTypeCoercion>
            <errorLevel type="suppress">
                <directory name="./examples"/>
            </errorLevel>
        </ArgumentTypeCoercion>
        <InvalidArgument>
            <errorLevel type="suppress">
                <directory name="src/Config/SDK/Configuration/Internal"/>
            </errorLevel>
        </InvalidArgument>
        <PossiblyInvalidArgument>
            <errorLevel type="suppress">
                <directory name="src/Config/SDK/Configuration"/>
                <directory name="tests/Integration/Config"/>
            </errorLevel>
        </PossiblyInvalidArgument>
        <PossiblyNullReference>
            <errorLevel type="suppress">
                <directory name="src/Config/SDK/ComponentProvider"/>
                <directory name="tests/Integration/Config/ComponentProvider"/>
            </errorLevel>
        </PossiblyNullReference>
        <MoreSpecificImplementedParamType>
            <errorLevel type="suppress">
                <directory name="src/Config/SDK/ComponentProvider"/>
                <directory name="tests"/>
            </errorLevel>
        </MoreSpecificImplementedParamType>
        <UndefinedMagicMethod>
            <errorLevel type="suppress">
                <referencedMethod name="Prophecy\Prophecy\ObjectProphecy::accepts"/>
                <referencedMethod name="Prophecy\Prophecy\ObjectProphecy::fields"/>
            </errorLevel>
        </UndefinedMagicMethod>
        <PossiblyFalseArgument>
            <errorLevel type="suppress">
                <directory name="tests"/>
            </errorLevel>
        </PossiblyFalseArgument>
        <PossiblyFalseOperand>
            <errorLevel type="suppress">
                <directory name="examples/baggage"/>
                <file name="src/SDK/Metrics/MetricExporter/ConsoleMetricExporter.php"/>
            </errorLevel>
        </PossiblyFalseOperand>
        <InvalidOperand>
            <errorLevel type="suppress">
                <directory name="tests"/>
            </errorLevel>
        </InvalidOperand>
        <FalsableReturnStatement>
            <errorLevel type="suppress">
                <directory name="src/API/Trace"/>
            </errorLevel>
        </FalsableReturnStatement>
        <PossiblyNullArgument>
            <errorLevel type="suppress">
                <file name="src/API/Instrumentation/CachedInstrumentation.php"/>
            </errorLevel>
        </PossiblyNullArgument>
        <InvalidNullableReturnType>
            <errorLevel type="suppress">
                <file name="src/API/Instrumentation/CachedInstrumentation.php"/>
            </errorLevel>
        </InvalidNullableReturnType>
        <NullableReturnStatement>
            <errorLevel type="suppress">
                <file name="src/API/Instrumentation/CachedInstrumentation.php"/>
            </errorLevel>
        </NullableReturnStatement>
        <InvalidAttribute>
            <errorLevel type="suppress">
                <directory name="tests/Unit"/>
                <directory name="src/Config/SDK/ComponentProvider"/>
            </errorLevel>
        </InvalidAttribute>
        <InvalidOperand>
            <errorLevel type="suppress">
                <directory name="src/SDK/Metrics/Aggregation"/>
            </errorLevel>
        </InvalidOperand>
    </issueHandlers>
</psalm>
