name: "Generate API Documentation"

on:
  push:
    branches:
      - "main"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  documentation:
    permissions:
      pages: write # required for GitHub Pages deployment
      id-token: write # required for GitHub Pages deployment
    name: "Documentation"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8" # v6.0.1
      - name: "Build"
        uses: "phpDocumentor/phpDocumentor@4d3daedcffb747791b212545da819bfc81252ea9" # v3.9.1
        with:
          target: "docs/build"
      - name: Setup Pages
        uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4
        with:
          path: 'docs/build'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
