name: "Generate API Documentation"

on:
  push:
    branches:
      - "main"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  documentation:
    permissions:
      pages: write # required for GitHub Pages deployment
      id-token: write # required for GitHub Pages deployment
    name: "Documentation"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@v5"
      - name: "Build"
        uses: "phpDocumentor/phpDocumentor@v3.8.1"
        with:
          target: "docs/build"
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'docs/build'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
