name: publish-otel-php-base-docker-image
on:
  push:
    branches: [ 'main' ]
  workflow_dispatch:
jobs:
  push_to_registry:
    name: OpenTelemetry PHP base docker image creation
    strategy:
      matrix:
        php-version: ['7.4', '8.0', '8.1']
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:

      - name: check out the repo
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push ${{ matrix.php-version }} to ghcr.io
        uses: docker/build-push-action@v2
        with:
          push: true
          file: docker/Dockerfile
          build-args: PHP_VERSION=${{ matrix.php-version }}
          tags: ghcr.io/open-telemetry/opentelemetry-php/opentelemetry-php-base:${{ matrix.php-version }}
          cache-from: type=gha,scope=${{ matrix.php-version }}
          cache-to: type=gha,scope=${{ matrix.php-version }},mode=max
