name: publish-otel-php-base-docker-image
on:
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:
  push:
    paths:
      - docker/Dockerfile
      - .github/workflows/publish-otel-php-base-docker-image.yml
  pull_request:
    paths:
      - docker/Dockerfile
      - .github/workflows/publish-otel-php-base-docker-image.yml
permissions:
  contents: read
jobs:
  push_to_registry:
    name: OpenTelemetry PHP base docker image creation
    strategy:
      matrix:
        php-version: ['8.1', '8.2', '8.3', '8.4']
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    timeout-minutes: 500
    steps:

      - name: check out the repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push ${{ matrix.php-version }} to ghcr.io
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        if: github.ref != 'refs/heads/main'
        with:
          push: false
          file: docker/Dockerfile
          build-args: PHP_VERSION=${{ matrix.php-version }}
          platforms: linux/amd64,linux/arm/v8,linux/arm64

      - name: Build and push ${{ matrix.php-version }} to ghcr.io
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        if: github.ref == 'refs/heads/main'
        with:
          push: true
          file: docker/Dockerfile
          build-args: PHP_VERSION=${{ matrix.php-version }}
          platforms: linux/amd64,linux/arm/v8,linux/arm64
          tags: ghcr.io/open-telemetry/opentelemetry-php/opentelemetry-php-base:${{ matrix.php-version }}
